
    <div class="clientRoot">
        <div class="clientTitle">Nouveau client</div>
        <form class="choixPersonne" id="perform">
            <h4>Veuillez remplir ce formulaire</h4>
            <div class="formDiv">
                <select>
                    <option>personne physique</option>
                    <option>personne morale</option>
                </select>
                <input type="text" placeholder="numéro de téléphone... ">
                <input type="text" placeholder="adreese mail... ">
            </div>
            <input type="submit" class="choixButton">suivant >></input>
        </form>
    </div>
