
    <div class="clientRoot">
        <div class="clientTitle">Nouveau client</div>
        <form class="choixPersonne" id="perform">
            <h4 id="inf">Veuillez remplir ce formulaire</h4>
            <div class="formDiv">
                <select name="type">
                    <option value="physique">personne physique</option>
                    <option value="morale">personne morale</option>
                </select>
                <input type="text" name="tel" placeholder="numéro de téléphone... " required>
                <input type="email" name="mail" placeholder="adresse mail... " required>
            </div>
            <button type="submit" class="choixButton">suivant >></button>
        </form>
    </div>
