{% extends 'base.html.twig' %}
{% block body %}
    <div class="operationRoot">
        <div class="listeClient">
            <div class="listeT">
                <div class="listeTdiv1">Liste des clients</div>
                <select id='el'>
                    <option>personne physique</option>
                    <option>personne morale</option>
                </select>
                <div class="userSearch">
                    <div><img src="{{ asset('search.svg') }}"/></div>

                    <input type="'text" placeholder="Rechercher un client">
                </div>
            </div>
            <div id='va'>
            {% include "default/l.html.twig" with pers %}
            </div>
        </div>
        <div class="operation">
            <div class="initOperation" id="ini">
                
                <div class="operationTitle">Nouvelle opération, choisissez un client pour initier l'opération</div>
                
                
            </div>
        </div>
         <script src="{{ asset('js/operation.js') }}"></script>
    </div>
{% endblock %}