.opdiv {
    height: 50px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.opdiv * {
    outline: none;
    width: 23%;
    background-color: white;
    color: #01579b;
    border-radius: 10px;
    height: 40px;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
}

.infop {
    position: absolute;
    bottom: 10px;
    left: 5%;
    top: 130px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
    align-items: center;
    font-size:12px;
    justify-content: space-around;

    width: 90%;
    height: 50px;
}
.infop div{

    display:flex;
    width: 33%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lab {
    font-size: 13px;
    text-align: center;
    color: #01579b;



}