.opdiv {
    height: 50px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.opdiv * {
    outline: none;
    width: 23%;
    background-color: white;
    color: #01579b;
    border-radius:3px;
    height: 40px;
    border: 0.1px solid rgba(0, 0, 0, 0.15);
}

.infop {
    position: absolute;
    bottom: 10px;
    left: 5%;
    top: 130px;
    display: flex;
    flex-direction: row;
    font-size: 13px;

    align-items: center;
    font-size:12px;
    justify-content: space-around;
    color: #01579b;
    width: 90%;
    height: 50px;
}
.infop div{
    display:flex;
    width: 33%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.infop div div{
    display:flex;
    width: 50%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lab {
    font-size: 13px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
#idc{
    visibility: hidden;
}