.operationRoot {
    position: absolute;
    width: 100%;
    top: 60px;
    height: calc(100% - 70px);
}

.listeClient {
    position: fixed;
    left: 0px;
    background-color: white;
    width: 300px;
    top: 60px;
    box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.2);
    height: calc(100% - 60px);
    display: grid;
    grid-template-rows: 20% 80%;
}

.listeT {
    display: grid;
    grid-template-rows: 40% 30% 30%;
}

.listeTdiv1 {
    background-color: rgba(195, 195, 195, 0.4);
    color: #01579b;
    z-index: 6000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.listeT select {
    border: 1px solid white;
    background-color: #01579b;
    outline: none;
    color: white;
    font-weight: lighter;
}

.userSearch {
    display: grid;
    grid-template-columns: 10% 90%;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
}

.userSearch input {
    outline: none;
    width: 98%;
    border: none;
    height: 95%;
    color: #01579b;
}

.userSearch div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientT {
    width: 90%;
    height: 60px;
    margin: 10px 5%;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
    display: grid;
    cursor: pointer;
    background-color: white;
    grid-template-columns: 22% 78%;
}

.clientIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.clientInf {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.clientInf div {
    display: flex;
    flex-direction: column;
    color: #01579b;
    font-size: 12px;
    justify-content: center;
}

.operation {
    position: relative;
    left: 320px;
    background-color: white;
    width: calc(100% - 320px);
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.initOperation {
    width: 90%;
    height: 500px;
    left: 30px;
    position: absolute;
    top: 55px;
}

.operationTitle {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 10px);
    font-size: 14px;
    padding-left: 10px;
    color: #01579b;
    border:1px solid rgba(0,0,200,0.1);
    height: 50px;
}

.infoClient {
    position: absolute;
    display: grid;
    text-align: center;
    color: white;
    font-size: 13px;
    top: 10px;
    font-weight: bold;
    right: 10px;
    width: 220px;
}

.infoClient * {
    display: grid;
    color: #01579b;
    grid-template-columns: 30% 70%;
}

.ia {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.infoClient * div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}